@import url(http://fonts.googleapis.com/css?family=Cuprum);

html,body{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 14px;
	color: #333333;
}
h1,h2,h3,h4,h5{
	color: #86a736;
	font-family: 'Cuprum', sans-serif;
}
a{
	color: #86a736;
}
img{
	border:0px;
}
input[type="text"],input[type="email"]{
	padding:5px;
	width:300px;
}
input[type="button"],input[type="submit"]{
	background:#86a736;
	border:none;
	cursor:pointer;
	border-radius:5px;
	color:white;
	padding:10px 15px;
}
textarea{
	font-family:arial;
	width:500px;
}
hr{
	border: none;
	border-top: 1px solid #86a736;
}
.nounderline{
	text-decoration:none;
}
#wrapper{
	width: 1020px;
	margin: 0 auto;
}
#header{
	padding: 20px 0px;
	position:relative;
}
#headerbg{
	height:306px;
	width:100%;
	position:absolute;
	left:0px;
	top:285px;
	background:url(images/headerbackground.png);
}
#header #logo{
	float: left;
}
#header #contact{
	font-family: 'Cuprum', sans-serif;
	float: right;
	margin-top: 130px;
	font-size: 30px;
	font-weight: bold;
}
#navigation ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 48px;
	background-color: #86a736;
	line-height: 48px;
}
#navigation ul li{
	display:inline;
	margin-left: 12px;
	position:relative;
	z-index:9999;
}
#navigation ul li a{
	font-family: 'Cuprum', sans-serif;
	color: #fff;
	padding: 15px 20px;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation ul li a:hover{
	background-color: #00477b;
}
#navigation ul li:hover ul{
	display:block;
}
#navigation ul li ul{
	display:none;
	position:absolute;
	width:280px;
	background:none;
	left:-12px;
}
#navigation ul li ul li{
	display:block;
	background-color: #86a736;
	width:100%;
}
#navigation ul li ul li:hover{
	background-color: #00477b;
}
#menuicon{
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	display:none;
}

#banner{
	padding: 13px;
	background:white;
}
.bannertext{
	border-radius:5px;
	color:white !important;
	line-height:25px;
	font-size:25px;
	font-family: 'Cuprum', sans-serif;
}
.bannertext p{
	margin:0px;
	padding:0px;
}
#bannershadow{
	margin-top: 0px;
}
#content{
	margin-top:15px;
}
#content #left{
	line-height: 30px;
	padding: 0px 35px 35px 35px;
	float: left;
	width: 645px;
}
#content #left h2{
	padding:0px;
	margin-bottom:-25px;
}
#content #left h3,#content #left h4,#content #left h5,#content #left h6{
	font-family:arial;
	padding-bottom:0px;
	margin-bottom:-15px;
}
#content #left ul{
	list-style: none;
	padding:8px 0px;
	margin-top:10px;
}
#content #left ul li{
	background-image: url(images/listimage.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 20px;
}
#content #left ul.gallery{
	list-style:none;
}
#content #left ul.gallery li{
	padding:0px;
	background:none;
	display:inline;
}
.testimonial:first-child{
	border:none;
}
.testimonial p{
	padding:0px;
	margin:0px;
}
.team{
	width:200px;
	height:200px;
	float:left;
	margin-left:10px;
	margin-top:15px;
	position: relative;
}
.teamlabel{
	font-family: 'Cuprum', sans-serif;
	background:white;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background:rgba(0,0,0,.5);
}
.teamlabel a{
	color:white;
	font-size:16px;
}
.teamimagewrapper{
	overflow:hidden;
	height:200px;
}
.teamimagewrapper img{
	width:200px;
	height:auto;
	min-height:200px;
}
.teamshadow{
	margin-top:-7px;
	margin-left:-2px;
}
.contentbox{
	float:left;
	margin-left:15px;
}

#content #right{
	float: right;
	width: 300px;
}
#logonotext{
	vertical-align:middle;
	margin-top:-5px;
}
#logonotext_text{
	color:#00467c;
}
.sidebarimagebox{
	width:280px;
}
.sidebarimagebox img{
	width:100%;
}
.sidebarimageboxshadow{
	margin-top:-6px;
	width:100%;
}
.sidebarbox{}
.sidebarboxheading{
	font-family: 'Cuprum', sans-serif;
	color: white;
	background: #86a736;
	padding:10px;
	font-size: 25px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 270px 10px;
}
.sidebarboxcontent{
	padding:10px;
}

#footernav{ 
	background-color: #86a736;
	margin-top:50px;
}
#footernavcontent{
	color: #fff;
	width:1020px;
	margin:0 auto;
	padding:15px 0px;
}
#footernavcontent ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#footernavcontent ul li{
	display:inline;
	margin-left:5px;
	border-left: 1px solid white;
	padding-left:13px;
	font-size:12px;
}
#footernavcontent ul li:first-child{
	border: none;
	margin:0px;
}
#footernavcontent ul li a{
	color: white;
	text-decoration:none;
	text-transform: uppercase;
}
#footer{ 
	background-color: #003154;
}
#footercontent{
	width: 1020px;
	margin: 0 auto;
}
#footercontent hr{
	border: none;
	border-top: 1px solid #d2d2d2;
}
.footerbox{
	padding: 20px;
	float: left;
	width: 280px;
	margin-left: 13px;
	color: #AAAAAA;
}
.footerbox h1,.footerbox h2,.footerbox h3,.footerbox h4,.footerbox h5{
	margin: 0px;
	color: white;
}
.footerbox table tr td{
	padding: 5px 0px;
}
.footerbox a,.footerbox strong,.footerbox b,#copyright strong{
	color: white;
	font-weight:normal;
}
.footerboxcontent p{
	padding:0px;
	margin:0px;
}
#copyright{
	padding: 20px 0px;
	color: #AAAAAA;
	text-align:center;
}
.wpcf7-validation-errors{
	background:#fcf8e3;
}
.wpcf7-mail-sent-ok{
	background:#dff0d8;
	border:1px solid #86a736 !important;
}

.clear{
	clear: both;
}
.gray{
	color: #333333;
}
.blue{
	color: #00477b;
}
.nopadding{
	padding:0px;
}
.nomargin{
	margin:0px;
}
.center{
	text-align:center;
}
.alignright{
	text-align:right;
	margin-right:10px;
}


@media screen and (max-width: 1000px){
	#wrapper{
		width:100%;
	}
	#header{
		width:90%;
		margin:0 auto;
	}
	#headerbg{
		display:none;
	}
	#banner,#bannershadow{
		padding:0px;
	}
	#banner img,#bannershadow img{
		width:100%;
	}
	#content #left{
		float:none;
		margin:0 auto;
		width:90%;
		padding:0px;
	}
	#content #right{
		float:none;
		margin:0 auto;
		width:90%;
		text-align:center;
	}
	.sidebarimagebox{
		margin:0 auto;
	}
	#footernav{ 
		margin-top:10px;
	}
	#footernavcontent{
		width:90%;
		margin:0 auto;
	}
	#footernavcontent ul{
		text-align:center;
	}
	#footernavcontent ul li{
		display:inline;
		border-left: none;
		line-height:25px;
	}

	#footercontent{
		width: 100%;
		margin: 0 auto;
	}
	.footerbox{
		float: none;
		width: 70%;
		text-align:center;
		margin:0 auto;
		border-top:1px solid #d2d2d2;
		padding-left:0px;
		padding-right:0px;
	}
	.footerbox:first-child{
		border:none;
	}
	#footerlogo{
		width:40%;
	}
	.footerbox table{
		text-align:left;
	}
	.footerbox table tr td{
		padding: 5px 0px;
	}
	.footerboxcontent{
		text-align:left;
	}
	#menuicon{
		display:block;
	}
	#navigation{
		position:relative;
		height:47px !important;
	}
	#navigation ul{
		width:60%;
		margin:0 auto;
		display:none;
	}
	#navigation ul li{
		display:list-item;
		text-align:left;
		margin:0px;
		padding:0px;
		background:#86a736;
		border-top:1px solid #00477b;
		text-indent:50px;
	}
	#navigation ul li:first-child{
		border:none;
	}
	#navigation ul li:hover{
		background-color: #00477b;
	}
	#navigation ul li ul{
		width:200px;
		background:none;
		position:inherit;
		width:100%;
		left:0px;
		height:100%;
	}
	#navigation ul li ul li{
		display:list-item;
		text-indent:70px;
	}
	#navigation ul li a{
		width:100%;
		display:block;
		padding:0px;
	}
}

@media screen and (max-width: 800px){
	#header{
		text-align:center;
	}
	#header #logo{
		float:none;
	}
	#header #contact{
		float:none;
		margin-top:20px;
	}
	.bannertext{
		font-size:18px;
	}
}

@media screen and (max-width: 600px){
	#footerlogo{
		width:60%;
	}
	#footernavcontent ul li{
		display:block;
	}
	#navigation ul{
		width:80%;
	}
	input[type="text"],input[type="email"]{
		width:70%;
	}
	textarea{
		width:100%;
	}
}
@media screen and (max-width: 480px){
	.bannertext{
		font-size:14px;
	}
	#navigation ul li a{
		text-indent:15px;
		font-size:14px;
	}
	#navigation ul li ul li a{
		text-indent:25px;
	}
	.team{
		float:none;
		margin:0 auto;
		margin-top:20px;
	}
}
@media screen and (max-width: 370px){
	.bannertext{
		font-size:12px;
	}
	#contact{
		font-size:19px !important;
	}
}